* {
  box-sizing: border-box;
}
.body {
  width: 1440px;
}
.header-top,
.header-menu {
  display: flex;
  height: 120px;
  justify-content: space-around;
  align-items: center;
}
.search {
  position: relative;
}
.search__input {
  width: 350px;
  height: 40px;
  background: #f5fafe;
  border-radius: 6px;
}
.search__button {
  position: absolute;
  width: 65px;
  height: 40px;
  right: 0px;
  background: #ec1f46;
  border-radius: 0px 6px 6px 0px;
}
.user {
  display: flex;
}
.user__name {
  align-items: flex-start;
  align-items: center;
  font-family: Mulish;
  font-size: 14px;
  padding-left: 18px;
}

.header-menu {
  height: 80px;
  background: #0a223d;
  margin: 0px;
}
.header-menu__link {
  font-family: Mulish;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
}
